<a href="https://colab.research.google.com/github/jasmine400/telecom-data-graph-modeling/blob/main/query_neo4j.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install neo4j

Collecting neo4j
  Downloading neo4j-5.15.0.tar.gz (196 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 196.5/196.5 kB 7.4 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from neo4j) (2023.3.post1)
Building wheels for collected packages: neo4j
  Building wheel for neo4j (pyproject.toml) ... done
  Created wheel for neo4j: filename=neo4j-5.15.0-py3-none-any.whl size=272484 sha256=f57a28d7ea32e643813d3c55769d950ac76d15236242934694e5989a6a895ef8
  Stored in directory: /root/.cache/pip/wheels/d5/08/10/6371dbdeec2efd7782f559b21c32bb6b4192ae0216ec5e39c5
Successfully built neo4j
Installing collected packages: neo4j
Successfully installed neo4j-5.15.0

In [ ]:
from neo4j import GraphDatabase
# Replace with the actual URI, username and password
AURA_CONNECTION_URI = ""
AURA_USERNAME = ""
AURA_PASSWORD =""

# Driver instantiation
driver = GraphDatabase.driver(
    AURA_CONNECTION_URI,
    auth=(AURA_USERNAME, AURA_PASSWORD)
)

In [ ]:
%cd drive/MyDrive/telecom

/content/drive/MyDrive/telecom

In [ ]:
import pandas as pd

df = pd.read_csv('file9.csv')

In [ ]:
df.head()

In [ ]:
import numpy as np

In [ ]:
print(type(df['otid'][0]))
not (df.isnull().iloc[0,6])

<class 'float'>

False

In [ ]:
import neo4j
from pandas import DataFrame

In [ ]:
dtid = "0024000E"
query = f"""
 MATCH (x:Packet) WHERE x.pid1 = "{dtid}" OR x.pid2 = "{dtid}" return x
"""
a,b,c = driver.execute_query(query,database_="neo4j",)
dic = a[0].data()
for i in dic['x']:
  print(dic['x'][i])

0024000E

In [ ]:
# Define an optional match query

query = f"""
OPTIONAL MATCH (x:Packet) WHERE x.pid1 = "{dtid}" OR x.pid2 = "{dtid}" return x
"""

# Execute the query and get the result as a pandas DataFrame
dataframe = driver.execute_query(
    query,
    database_="neo4j",
    result_transformer_=neo4j.Result.to_df
)

# Print the dataframe
print(dataframe)

      x
0  None

In [ ]:
def optional_match_query(dtid):
  # Define an optional match query

  query = f"""
  OPTIONAL MATCH (x:Packet) WHERE x.pid1 = "{dtid}" OR x.pid2 = "{dtid}" return x
  """

  # Execute the query and get the result as a pandas DataFrame
  dataframe = driver.execute_query(
      query,
      database_="neo4j",
      result_transformer_=neo4j.Result.to_df
  )

  # Print the dataframe
  print(dataframe)
  res=dataframe.isnull().iloc[0,0]
  return(res)

In [ ]:
dataframe.

        x
0  (pid1)

In [ ]:
print(dataframe['x'][0])
dataframe.isnull().iloc[0,0]

None

True

In [ ]:
print(f"OPTIONAL MATCH (x:Packet) WHERE x.pid1 = {dtid} OR x.pid2 = {dtid}")

OPTIONAL MATCH (x:Packet) WHERE x.pid1 = 01B013D7 OR x.pid2 = 01B013D7

In [ ]:
for ind in df.index:

    if not (df.isnull().iloc[ind,6]) and not (df.isnull().iloc[ind,7]):
       dtid = str(df['dtid'][ind])
       res = optional_match_query(dtid)
       print(res)
       break

      x
0  None
True

In [ ]:


 a,b,c=driver.execute_query(f"OPTIONAL MATCH (x:Packet) WHERE x.pid1 = {str(df['dtid'][ind])} OR x.pid2 = {str(df['dtid'][ind])}")
      print(a[0])

In [ ]:
a,b,c = driver.execute_query("LOAD CSV WITH HEADERS FROM 'https://drive.usercontent.google.com/download?id=16tsiBER7oPMnamnHV8zEtl_ygWnMmeDv&export=download&authuser=0&confirm=t&uuid=f5722d21-20bf-42c5-9cd1-91afb2e4be90&at=APZUnTWkxXSftv0Zez9Sdj2KR7be:1702665503606' AS row with row where row.otid is not null AND row.dtid is not null OPTIONAL MATCH (x:Packet) WHERE x.pid1 = row.dtid OR x.pid2 = row.dtid return x")

a[0].data()

{'x': None}

In [ ]:
type(records[0])

neo4j._data.Record

In [ ]:
# Import the json module for pretty visualization
import json

# Cypher query
list_all_gds_procedures_query = """
    CALL gds.list()
"""

# Create a driver session
with driver.session() as session:
    # Use .data() to access the results array
    results = session.run(list_all_gds_procedures_query).data()

    # Print the prettified result
    print(json.dumps(results[:5], indent=2))

In [ ]:
# Client import
from graphdatascience import GraphDataScience

# Replace with the actual URI, username and password
AURA_CONNECTION_URI = "neo4j+s://b5b9b66f.databases.neo4j.io"
AURA_USERNAME = "neo4j"
AURA_PASSWORD = "BYORmh0uldfQJlHwmYXafzerP1PCr4T6zoO0UwpMl6o"

# Client instantiation
gds = GraphDataScience(
    AURA_CONNECTION_URI,
    auth=(AURA_USERNAME, AURA_PASSWORD),
    aura_ds=True
)